<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.AdminRoleMenuMapper">

    <select id="queryMenuByRoleId" resultType="org.example.entity.AdminMenu">
        SELECT am.id          AS id,
               am.create_time AS createTime,
               am.update_time AS updateTime,
               am.name        AS name,
               am.title       AS title,
               am.icon        AS icon,
               am.path        AS path,
               am.component   AS component,
               am.parent      AS parent,
               am.permission  AS permission,
               am.sort        AS sort,
               am.menu_type   AS menuType,
               am.el_svg_icon AS elSvgIcon,
               am.route_name  AS routeName,
               am.query       AS query,
               am.redirect    AS redirect
        from admin_role_menu arm
                 left join admin_menu am on am.id = arm.menu_id
        where arm.role_id = #{roleId}
    </select>
</mapper>
