<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.AdminMenuMapper">

    <delete id="delRecurByMenu">
        WITH RECURSIVE cte AS (SELECT id
                               FROM admin_menu
                               WHERE id = #{menuId}
                               UNION ALL
                               SELECT am.id
                               FROM admin_menu am
                                        INNER JOIN cte ON am.parent = cte.id)
        DELETE
        FROM admin_menu
        WHERE id IN (SELECT id FROM cte);
    </delete>


</mapper>
